# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Builds
dist/
build/
.parcel-cache/
.vite/

# Env / secrets
.env
.env.*
server/.env
server/.env.*

node_modules/
